[user]
	email = mwycklendt@veriflowsystems.com
	name = mattwycklendt
    editor = vim
[push]
	default = current
[core]
	pager = .git-so-fancy | less --tabs=4 -RFX
    editor = vim
	excludesfile = ~/.gitignore
[fetch]
    recurseSubmodules = true
[github]
    user = mwycklendt
[credential]
	helper = cache --timeout=86400
